.root {
    -fx-background-color: #004d00;
    -fx-padding: 10;
}

.header-label {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #ecf0f1;
}

.list-view {
    -fx-background-color: #34495e;
    -fx-text-fill: #ecf0f1;
}

.button {
    -fx-background-color: #16a085;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 8 15;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #1abc9c;
}
